<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<title>Log In</title>
</head>
<body>
	<header class="header">
		<div class="header-top" th:if="${session.loginId == null}">
			<ul class="header-top-list">
				<a href="/member/join">Join</a>
			</ul>
		</div>
		<div class="header-top" th:if="${session.loginId != null}">
			<ul class="header-top-list">
				<span th:text="${#session.getAttribute('loginName')} + '님 환영합니다'">
			</ul>
			<ul class="header-top-list">
				<a href="/member/logout">로그아웃</a>
			</ul>
			<ul class="header-top-list">
				<a href="/member/delete">회원탈퇴</a>
			</ul>
		</div>
		<div class="header-logo">
			<a href="/">SHOP</a>
		</div>
	</header>
	<main class="main">
		<span class="login-header">로그인</span>
		<form action="/member/login" method="post" class="login-form">
			이메일: <input type="text" placeholder="이메일입력" name="email" class="login-email" />
			비밀번호: <input type="password" placeholder="비밀번호입력" name="password" class="login-password" />
			<span th:text="${error}" class="login-error-msg"></span>
			<input type="submit" value="로그인" class="login-submit" />
		</form>
		<div class="login-to-join">		
			<a href="/member/join">회원이 아니신가요? 회원가입 하러하기</a>
		</div>
	</main>
	
	<script>
	    // URL에서 delay 파라미터 값 가져오기
	    const urlParams = new URLSearchParams(window.location.search);
	    const isJoin = urlParams.get('join');
	
	    // 3초 지연 후 알림 메시지 표시 및 리다이렉트
	    if (isJoin == "success") {
	        alert('회원가입이 성공적으로 처리되었습니다.');
	        window.location.href = '/member/login';
	    }
	</script>
</body>
</html>